@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

i {
  font-style: norma;
}

/** Map **/
#map {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100%;
  color: #666;
  background-color: #ddd;
}

.label {
  font-weight: normal;
}
.label .munip-name {
  text-transform: capitalize;
  font-weight: bold;
}
.label i {
  font-size: 14px;
  /*color: rgb(2, 108, 182);*/
  margin: 0 2px 0 6px;
  text-indent: -9999em;
}

.info {
  padding: 6px 8px;
  font: 13px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 160px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
  font-size: 13px;
}

.legend {
  font-size: 12px;
  line-height: 14px;
  color: #555;
}
.legend > i {
  width: 20px;
  height: 14px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.blue {
  color: rgb(2, 108, 182);
}
.red {
  color: rgb(186, 18, 34);
}
.orange {
  color: rgb(201, 90, 35);
}

