@font-face {
  font-family: 'humanitarian_icons';
  src: url("fonts/humanitarian_icons.eot");
  src: url("fonts/humanitarian_icons.eot?#iefix") format("embedded-opentype"), url("fonts/humanitarian_icons.ttf") format("truetype"), url("fonts/humanitarian_icons.woff") format("woff"), url("fonts/humanitarian_icons.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"] {
  font-family: 'humanitarian_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

i {
  font-style: normal;
}

svg {
  cursor: default;
}

.icon-reports:before {
  content: "\e61a";
}
.icon-jobs:before {
  content: "\e60a";
}
.icon-training:before {
  content: "\e607";
}
.icon-disasters:before {
  content: "\e62f";
}
.icon-affectedPeople:before {
  content: "\e6a7";
}
.icon-damagedHouses:before {
  content: "\e63f";
}
.icon-IDP:before {
  content: "\e62d";
}
.icon-funded:before {
  content: "\e606";
}
.icon-requested:before {
  content: "\e602";
}

.icon-affectedPeople {
  color: #026cb6;
}
.icon-damagedHouses {
  color: #ba1222;
}
.icon-IDP {
  color: #c95a23;
}
.icon-funded {
  color: #026cb6;
}
.icon-requested {
  color: #026cb6;
}


/**
 * Labels.
 */
.tooltip {
  font-weight: normal;
}
.tooltip .name {
  text-transform: capitalize;
  font-weight: bold;
}
.tooltip i {
  font-size: 10px;
  margin: 0 2px 0 6px;
}
.tooltip {
  background: #ebebeb;
  background: rgba(235, 235, 235, 0.81);
  background-clip: padding-box;
  border-color: #777;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-style: solid;
  border-width: 4px;
  color: #111;
  display: block;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1px 6px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  z-index: 6;
}
.tooltip.clickable {
  cursor: pointer;
}
.tooltip:before,
.tooltip:after {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: none;
  position: absolute;
  top: 5px;
}
.tooltip:before {
  border-right: 6px solid black;
  border-right-color: inherit;
  left: -10px;
}
.tooltip:after {
  border-left: 6px solid black;
  border-left-color: inherit;
  right: -10px;
}
.tooltip.right:before,
.tooltip.left:after {
  content: "";
}

.tooltip.info {
  background: rgba(235, 235, 235, 0.9);
  border-color: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 9999999;
}
.tooltip.info span {
  font-weight: normal;
}

#header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
}
#content {
  position: absolute;
  /*height: auto;*/
  bottom: 40px;
  top: 40px;
  left: 0;
  right: 0;
}
#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  color: white;
  border-top: 1px solid #333;
}

#header {
  background: #026CB6;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
}
#header a {
  color: #ccc;
  text-decoration: none;
}
#header .title {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  line-height: 40px;
  padding-left: 10px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}
#header img {
  height: 40px;
}
#header .ocha {
    float: right;
}
#header .link {
  margin-left: 30px;
}

#footer {
  background: #026CB6;
  z-index: 2;
  overflow-y: auto;
  padding: 3px;
  font-size: 9px;
  color: #fff;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

#map {
  background: #e9eef9;
  position: absolute;
  top: 0;
  left: 400px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.layer-map {
  position: relative;
  height: 100%;
  width: 100%;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  background: white;
  border-right: 1px solid #aaa;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  z-index: 2;
  overflow-y: scroll;
}
#info .tabs,
#info .tabs li {
  margin: 0;
  padding: 0;
}
#info .tabs {
  margin-top: 20px;
  position: relative;
}
#info .tabs li {
  display: inline;
}
#info .tabs li > label {
  font-size: 14px;
  color: #666;
  font-weight: bold;
  padding: 5px 0px;
  margin-left: 2px;
  /*border: 1px solid #999;*/
  /*background: #dadada;*/
  list-style: none;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  position: relative;
  z-index: 2;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
#info .tabs li:first-child > label {
  margin-left: 5px;
}
#info .tabs li > label:after {
  content: "▸";
  font-size: 20px;
  margin-top: -5px;
  margin-left: 5px;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  color: #666;
}
#info .tabs li:last-child > label:after {
  display: none;
}
#info .tabs li > label:hover {
  color: #333;
  /*background: #bababa;*/
}
#info .section {
  border-top: 2px solid #026CB6;
  display: none;
  position: absolute;
  top: 24px;
  padding: 10px;
  margin-top: 5px;
  color: #000;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
#info .section p {
  color: #666;
}
#info .tabs li > input[name=tabs] {
  display: none;
}
#info .tabs li > input[name=tabs]:checked ~ .section {
  display: block;
}
#info .tabs li > input[name=tabs]:checked + label,
#info .tabs li > input[name=tabs]:checked + label:after {
  /*background: #fff;*/
  color: #026CB6;
  /*border-bottom: 1px solid #fff;*/
}
#info #timeline {
  width: 100%;
  height: 700px;
}
#info .section .total {
  position: relative;
  border-top: 1px solid #026CB6;
  border-bottom: 1px solid #026CB6;
  padding: 5px;
  margin: 30px 0 10px;
  height: 40px;
}
#info .section .total > div {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}
#info .section .total i {
  display: inline-block;
  font-size: 40px;
  margin-right: 5px;
  vertical-align: top
}
#info .section .total > div > div {
  display: inline-block;
  height: 40px;
  margin-right: 5px;
}
#info .section .total strong {
  float: left;
}
#info .section .total em {
  font-style: normal;
  float: left;
  clear: left;
}
#info .section .total strong {
  color: #026CB6;
  font-size: 20px;
}
#info .section .total em {
  color: #999;
  font-size: 13px;
}

#info .section .graph {
  position: relative;
}
#info .section .graph .title {
  color: rgb(244, 121, 50);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
}
#info .section .graph .axis text {
  font: 10px sans-serif;
  fill: #999;
}
#info .section .graph .axis path,
#info .section .graph .axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
#info .section .graph .grid {
  stroke: #ccc;
}
#info .section .graph .bar rect {
  fill: #026CB6;
}
#info .section .graph .bar:hover rect {
  stroke: #aaa;
}
#info .section .graph .bar .category {
  text-anchor: end;
  fill: #026CB6;
}
#info .section .graph .bar .value {
  font-size: 10px;
}
#info .section .graph .bar .value.start {
  text-anchor: start;
  fill: #333;
}
#info .section .graph .bar .value.end {
  text-anchor: end;
  fill: #fff;
}
#info .section.funding .graph .bar .category {
  font-size: 10px;
}
#info .section.funding .graph .bar rect.funded {
  fill: #026CB6;
}
#info .section.funding .graph .bar rect.requested {
  fill: #ccc;
}
#info .section.funding .total {
  margin: 10px 0;
}
#info .section.funding h3 {
  color: #666;
}
.source a {
  color: #666;
}

/**
 * Control layer.
 */
.layer-control {
  font: 13px Arial, Helvetica, sans-serif;
}

.layer-control > div {
  position: absolute;
  z-index: 1000;
  /*pointer-events: none;*/
}

.layer-control > div.top {
  top: 10px;
}

.layer-control > div.left {
  left: 10px;
}

.layer-control > div.right {
  right: 10px;
}

.layer-control > div.bottom {
  bottom: 10px;
}

.layer-control > div.left .control {
  float: left;
}

.layer-control > div.right .control {
  float: right;
}

.layer-control > div.top .control {
  margin-bottom: 10px;
}

.layer-control > div.bottom .control {
  margin-top: 10px;
}

.control {
  position: relative;
  z-index: 7;
  /*background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 2px solid #aaa;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  /*pointer-events: auto;*/
  /*cursor: auto;*/
  clear: both;
}

.control.zoom a {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
  text-decoration: none;
  text-align: center;
  color: black;
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
}

.control.zoom a:hover {
  background: #ccc;
}

.control.zoom a.zoom-in {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #ccc;
}

.control.zoom a.zoom-out {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.control.selector {
  padding: 5px;
  text-transform: capitalize;
  width: 140px;
}

.control.selector i {
  font-size: 12px;
  margin-left: 3px;
  margin-right: 5px;
}

.control.selector input,
.control.selector label {
  cursor: pointer;
}

.control.selector input[type="radio"] {
  margin: 3px 1px;
}

.control.legend {
  padding: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #555;
  width: 140px;
}

.control.legend > i {
  width: 20px;
  height: 14px;
  float: left;
  margin-right: 8px;
  opacity: 1.0;
}

.control.legend h4 {
  margin: 5px 0 10px;
  color: #777;
  font-size: 13px;
}

.control.legend h4 i {
  color: #777;
  margin-left: 3px;
  margin-right: 5px;
}
.control .source {
  margin-top: 5px;
  font-size: 10px;
  font-weight: bold;
}

.control.track {
  width: 140px;
  padding: 5px;
}

.control.minimap {
  width: 150px;
  height: 150px;
  background: rgba(235, 235, 235, 0.81);
  overflow: hidden;
}

.control.minimap canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.control.minimap svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 2;
  overflow: visible;
}

.control.minimap .selection {
  position: absolute;
  z-index: 2;
  stroke: #111111;
  stroke-width: 1px;
  fill-opacity: 0.15;
  fill: #000000;
  /*cursor: move;*/
}

/*.sidebar {
  background: white;
  position: absolute;
  border: 2px solid #aaa;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  top: 10px;
  left: -400px;
  bottom: 10px;
  width: 400px;
}
.sidebar.visible {
  left: 10px;
}
.sidebar.visible ~ div.left {
  left: 440px;
}
.sidebar ~ div.left {
  left: 30px;
}
.sidebar .close {
  position: absolute;
  top: -2px;
  right: -22px;
  cursor: pointer;
  background: white;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  vertical-align: middle;
  border: 2px solid #aaa;
  border-left: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 20px;
  color: #555;
}
.sidebar .close:after {
  content: "\BB";
}
.sidebar.visible .close:after {
  content: "\AB";
}
.sidebar #info {
  display: block;
  display: block;
  z-index: 10;
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sidebar {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}*/




.dragging {
  cursor: move;
}

.country {
  cursor: pointer;
}

#map .icon-reports {
  color: #cb181d;
}

#map .icon-jobs {
  color: #2171b5;
}

#map .icon-training {
  color: #fd8d3c;
}

#map .icon-disasters {
  color: #6a51a3;
}

path {
  stroke-linecap: round;
}

.countries {
  fill: #fff;
  stroke: none;
}
.focus {
  fill: #fff;
  stroke: none;
}
.municipalities {
  stroke-width: 0.2;
}
.municipality.focused {
  stroke: #f00;
}
.boundaries {
  stroke: #999;
  fill: none;
  stroke-width: 0.2;
}
.boundaries.province {
  stroke: #000;
  stroke-opacity: 0.2;
  stroke-width: 0.5;
}
.boundaries.region {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 0.75;
}
.boundaries.dashed {
  stroke-dasharray: 2,2;
}
.boundaries.dotted {
  stroke-dasharray: 1;
}

.cities .anchor {
  stroke-linecap: round;
  stroke: none;
  fill: #fff;
  pointer-events: none;
}
.cities .label {
  font: 300 16px Arial;
  fill: #333;
  text-anchor: end;
  pointer-events: none;
}
.cities .label.start {
  text-anchor: start;
}
.cities .label.end {
  text-anchor: end;
}

.regions .region {
  fill: #777;
  fill-opacity: .4;
  font-size: 24px;
  font-weight: 300;
  text-anchor: middle;
  pointer-events: none;
}

path.track {
  fill: none;
  stroke: rgba(161, 217, 155, 0.3);
  stroke-width: 5;
  marker-mid: url(#track-marker);
  pointer-events: none;
}
#track-marker {
  fill: rgba(161, 217, 155, 0.3);
  pointer-events: none;
}
